{% extends sonata_block.templates.block_base %}
{% block block %}
{#
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <style>
        .fc-toolbar .fc-header-toolbar > h2 {
            direction: rtl; !important;
        }
        .fc-day-grid-event .fc-content {
            white-space: pre-wrap;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'UTC',
                defaultView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    { url: "{{ path('fc_load_events') }}", method: "POST",  extraParams: {  filters: JSON.stringify({})    },
                        failure: () => {     //alert("There was an error while fetching FullCalendar!");
                        }, },
                ],
                /*header: {
                    left: 'next,prev today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },*/
                header: {
                    left: 'next,prev today nextYear,prevYear',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                axisFormat: 'H(:mm)',/*whatever format you want for axis */
                timeFormat: {
                    agenda: 'H:mm{ - H:mm}'/*time format to be shown on event*/
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                lazyFetching: true,
                firstDay: 1,
                eventTimeFormat: {
                    hour: 'numeric',
                    minute: '2-digit',
                    meridiem: false
                },
                businessHours: {
                    daysOfWeek: [ 1, 2, 3, 4, 5 ], // Monday - Thursday
                    startTime: '9:00', // a start time (10am in this example)
                    endTime: '18:00', // an end time (6pm in this example)
                },
                buttonText: {
                    today:    'اليوم',
                    month:    'شهر',
                    week:     'أسبوع',
                    day:      'يوم',
                    list:     'لائحة'
                },
                //Set to True to show Calendar Week in seperate Row/Field of Calendar View
                weekNumbers: false,
                //Set to your Language to change the text, the first day of week etc acording to yout settings.
                locale: 'ar-ma',
                dir: 'rtl',
            });
            calendar.render();
        });
    </script>
#}

{#    <h2 class="sonata-feed-title"><i class="fa fa-dashboard"></i> Tableau de bord</h2>#}
    {#<h2 class="sonata-feed-title">
        <i class="fa fa-dashboard"></i> {{ 'Tableau bord'|trans }}
    </h2>#}
{% if app.user.username == 'bouziane' %}

    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-1 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreConventionsApprouves', { 'typeConvention':0 })) }}
                            </h3>
                            <p>{{ 'nbreConventionsApprouves'|trans }}</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-book pull-left" style="margin-top:20px;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-2 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreConventionsApprouves', { 'typeConvention':1 })) }}
                            </h3>
                            <p>{{ 'nbreConventionsCadreApprouves'|trans }}</p>
                        </div>
                    </div>
                </div><div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-3 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreConventionsApprouves', { 'typeConvention':2 })) }}
                            </h3>
                            <p>{{ 'nbreConventionsSpecifiquesApprouves'|trans }}</p>
                        </div>
                    </div>
                </div><div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-4 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreAvenantsApprouves')) }}
                            </h3>
                            <p>{{ 'nbreAvenantsApprouves'|trans }}</p>
                        </div>
                    </div>
                </div><div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-5 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                99
                            </h3>
                            <p>{{ 'Conventions Necessitant Signature EtVisa'|trans }}</p>
                        </div>
                    </div>
                </div><div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-6 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreConventionsByStade', { 'stade':4 })) }}
                            </h3>
                            <p>{{ 'nbreConventionsSignees'|trans }}</p>
                        </div>
                    </div>
                </div><div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-7 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreConventionsByStade', { 'stade':6 })) }}
                            </h3>
                            <p>{{ 'nbreConventionsVisees'|trans }}</p>
                        </div>
                    </div>
                </div><div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-8 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreConventionsByStade', { 'stade':'8,9' })) }}
                            </h3>
                            <p>{{ 'nbreConventionsExecutesOuEncours'|trans }}</p>
                        </div>
                    </div>
                </div><div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-9 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreConventionsByStade', { 'stade':3 })) }}
                            </h3>
                            <p>{{ 'nbreConventionsEncoursSignature'|trans }}</p>
                        </div>
                    </div>
                </div><div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-10 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreConventionsByStade', { 'stade':15 })) }}
                            </h3>
                            <p>{{ 'nbreConventionsEncoursVisa'|trans }}</p>
                        </div>
                    </div>
                </div><div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-11 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                99
                            </h3>
                            <p>{{ 'Conventions Ne Necessitant pas Visa'|trans }}</p>
                        </div>
                    </div>
                </div><div class="col-lg-1 col-xs-4">
                    <div class="very-small-box bg-12 ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreConventionsByStade', { 'stade':14 })) }}
                            </h3>
                            <p>{{ 'Conventions arretees'|trans }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-2 col-xs-6">
                    <div class="small-box bg-yellow-gradient ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreTotalConventions')) }}
                            </h3>
                            <p>{{ 'convention et avenant'|trans }}</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-book pull-left" style="margin-top:20px;"></i>
                        </div>
                        <a href="{{ path('admin_app_convention_list') }}" class="small-box-footer">
                            {{ 'Details'|trans }} <i class="fa fa-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <div class="small-box bg-light-blue">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreConventionsAttenteVisa')) }}
                            </h3>
                            <p>{{ 'Attente Visa'|trans }}</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-check-square-o pull-left" style="margin-top:20px;"></i>
                        </div>
                        <a href="{{ path('situation_a2') }}" class="small-box-footer">
                            {{ 'Details'|trans }} <i class="fa fa-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <div class="small-box bg-teal">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreConventionsAttenteSignaturePartenaires')) }}
                            </h3>
                            <p>{{ 'Attente Signature'|trans }}</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-pencil-square-o pull-left" style="margin-top:20px;"></i>
                        </div>
                        <a href="{{ path('situation_a3') }}" class="small-box-footer">
                            {{ 'Details'|trans }} <i class="fa fa-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::montantTotalContributions')) }}
                            </h3>
                            <p>{{ 'conventionContributions'|trans }}</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money pull-left" style="margin-top:20px;"></i>
                        </div>
                        <a href="{{ path('admin_app_convention_list') }}" class="small-box-footer">
                            {{ 'Details'|trans }} <i class="fa fa-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <div class="small-box bg-green ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreTotalArretes')) }}
                            </h3>
                            <p>{{ 'arrete'|trans }}</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-bookmark pull-left" style="margin-top:20px;"></i>
                        </div>
                        <a href="{{ path('admin_app_arrete_list') }}" class="small-box-footer">
                            {{ 'Details'|trans }} <i class="fa fa-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <div class="small-box bg-red-gradient ">
                        <div class="inner">
                            <h3 style="background-color: unset;">
                                {{ render(controller('App\\Controller\\DefaultController::nbreTotalProjets')) }}
                            </h3>
                            <p>{{ 'projet'|trans }}</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-map pull-left" style="margin-top:20px;"></i>
                        </div>
                        <a href="{{ path('admin_app_projet_list') }}" class="small-box-footer">
                            {{ 'Details'|trans }} <i class="fa fa-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                {{ render(controller('App\\Controller\\ChartsController::graph20')) }}
            </div>
            <div class="col-md-6">
                {{ render(controller('App\\Controller\\MapsController::map10')) }}
            </div>
        </div>
    </div>
{#
#}

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                {{ render(controller('App\\Controller\\ChartsController::graph30', {}, {'chart': true })) }}
            </div>
            <div class="col-md-6">
                {{ render(controller('App\\Controller\\ChartsController::graph50')) }}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                {{ render(controller('App\\Controller\\ChartsController::graph802', { 'id': 1 })) }}
            </div>
            <div class="col-md-6">
                {{ render(controller('App\\Controller\\ChartsController::graph32', {}, {'chart': true })) }}

            </div>
        </div>
    </div>
{#
#}

{% if (1==2) %}

    <div class="row">
        <div class="col-md-6">
            {{ render(controller('App\\Controller\\DefaultController::getLastInserteds')) }}
        </div>
        <div class="col-md-6">
            {{ render(controller('App\\Controller\\DefaultController::getLastUpdateds')) }}
        </div>

    </div>

    <div class="row mb1">
        <div class="col-md-6">
            {{ render(controller('App\\Controller\\ChartsController::graph60')) }}
        </div>

        <div class="col-md-6">
            {{ render(controller('App\\Controller\\DefaultController::getLastCourrierArrive')) }}{##}
        </div>
    </div>

    <div class="row mb1">

        <div class="col-md-6">
            {{ render(controller('App\\Controller\\DefaultController::top5EntiteEmettriceCourrierArrivee')) }}
        </div>

        <div class="col-md-6">
            {{ render(controller('App\\Controller\\DefaultController::getTop5EntiteDestinatriceCourrierDepart')) }}
        </div>
    </div>

{% endif %}


{% endblock %}