{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <img src="{{ asset('img/login_header.png') }}" class="img-fluid" alt="{{ SITE_NAME }}">
            <div class="card-header">
            </div>
            <div class="card-body">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>