{% extends '@SonataAdmin/my_standard_layout.html.twig' %}

{% block sonata_admin_content %}
<div class="titre-tableau">
    {{ titre }}
</div>

<div class="box-- box-primary--">
    <div class="row">

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="card text-left">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'Recherche'|trans }}</h4>
                        <form method="get" action="">
                            {{ form_errors(form) }}
                            {{ form_rest(form) }}
                            <p class="btn-group">
                                <button class="btn btn-primary" type="submit" name="submit-filter"><i class="fa fa-filter"></i> {{ 'Lancer'|trans }}</button>
                                <a class="btn btn-default" href="?reset-filter"><i class="fa fa-times"></i> {{ 'Initialiser les champs'|trans }}</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

