{% extends '@SonataAdmin/my_standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div class="titre-tableau">
        {{ "Situations"|trans }}
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="list-group">
{#                <a href="#" class="list-group-item active"><h4 class="list-group-item-heading">{{ "Situations"|trans }}</h4></a>#}
                <a href="{{ path('situation_ax1') }}" target="_blank" class="list-group-item">{{ 'situationAx1'|trans }} <span class="excel"><i class="fa fa-file-excel-o"></i></span></a>
                <a href="{{ path('situation_a2') }}" target="_blank" class="list-group-item">{{ 'Situation a2'|trans }}</a>
                <a href="{{ path('situation_a3') }}" target="_blank" class="list-group-item">{{ 'Situation a3'|trans }}</a>
                <a href="{{ path('situation_b1') }}" target="_blank" class="list-group-item">{{ 'Situation b1'|trans }}</a>
{#                <a href="{{ path('courrier_registre') }}" target="_blank" class="list-group-item">{{ "Registre"|trans }}</a>#}
            </div>


        </div>

        <div class="col-md-6">


        </div>
    </div>

{% endblock %}